#过滤target文件下生成的编译文件
/*target/

.idea
/cloud-api/target/
/cloud-consumer/target/
/cloud-product/target/
/cloud-security/target/
/cloud-eureka/target/

#.project
#.settings/
#.classpath
#*.MF

#*.iml
#/*/overlays
#/*/target
#/**/target
#/agency-sis/.vscode
#/agency-standard/masJavaAPI_log.log
#/agency-standard/mas_error_log.log
#/.vscode
#/agency-all/*.factorypath
#/agency-base/*.factorypath
#/agency-data/*.factorypath
#/agency-invoice/*.factorypath
#/agency-openapi-proxy/*.factorypath
#/agency-openapi/*.factorypath
#/agency-report/*.factorypath
#/agency-stock/*.factorypath
#/agency-app/*.factorypath
